$primary-color: #2980b9;
$background-color: #cdcdcd;
$header-bg-color: #192a56;
$contact-list-bg: #ecf0f1;
$primary: #2c3e50;
$primary-darker: #1c2732;
$secondary: #ecf0f1;
$divider: #f6f6f6;
$white: #ecf0f1;
$button: #3498db;
$button-hover: #2980b9;
$border: #ccc;
$border-darker: #b1b0b0;
$delete-btn: #c0392b;
