@import url("https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;600;900&display=swap");
/** COMMON STYLES **/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Inter", sans-serif;
  color: #2c3e50;
  background-color: #cdcdcd;
}

button {
  cursor: pointer;
}

a {
  text-decoration: none;
  color: #2c3e50;
  cursor: pointer;
}

.header {
  background-color: #192a56;
  color: #ecf0f1;
  text-align: center;
  position: fixed;
  width: 100%;
  z-index: 1;
}
.header .menu-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  height: 60px;
}
.header .menu-header button {
  width: 80px;
  padding: 10px;
  border: 0;
  border-radius: 4px;
  font-size: 1rem;
  font-weight: 600;
  color: #ecf0f1;
  background-color: #3498db;
}
.header .menu-header button:hover {
  background-color: #2980b9;
}
.header .menu-header .logo-space {
  display: flex;
  align-items: center;
}
.header .menu-header .logo-space a {
  font-size: 1.5rem;
  font-weight: 600;
  color: #ecf0f1;
}
.header .menu-header .logo-space .logo-text {
  margin-left: 0.5rem;
  color: #ecf0f1;
}
.header .menu-header .add-contact a {
  color: #ecf0f1;
  font-size: 2rem;
  text-decoration: none;
  margin-right: 0.5rem;
}
.header .floating-add a {
  position: fixed;
  bottom: 1rem;
  right: 1rem;
  z-index: 1;
  color: #2c3e50;
}
.header .floating-add a:hover {
  color: #1c2732;
}

.container {
  padding-top: 5rem;
}

.error {
  color: red;
  margin-bottom: 0.5rem;
}

/** CONTACTS LIST **/
.contacts-container {
  padding: 5rem 1rem;
  margin: 0 1rem;
  background-color: #cdcdcd;
  max-width: 500px;
  margin: 0 auto;
}
.contacts-container h1 {
  font-size: 2rem;
  font-weight: 600;
  margin-bottom: 1rem;
}
.contacts-container .welcome-user {
  font-weight: 600;
}
.contacts-container .contacts {
  background-color: #ecf0f1;
  border-radius: 5px;
  color: #2c3e50;
  margin-top: 1rem;
  padding: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}
.contacts-container .contacts .single-contact {
  padding: 17px 0 10px;
  display: flex;
  justify-content: space-between;
}
.contacts-container .contacts .single-contact .contact-contacts {
  display: flex;
  justify-content: space-between;
  width: 140px;
}
.contacts-container .contacts .divider {
  color: #f6f6f6;
  border-color: #f6f6f6;
  background-color: #f6f6f6;
}

/** FORM STYLES **/
.form-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 500px;
  width: 100%;
  padding: 0.3rem;
}

.section-form {
  padding: 1.7rem;
  box-sizing: border-box;
  border-radius: 10px;
  background: #ecf0f1;
  color: #2c3e50;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}
.section-form h1 {
  font-size: 1.7rem;
  text-align: center;
}
.section-form h4 {
  font-size: 1rem;
  text-align: center;
  margin-bottom: 1rem;
}
.section-form .section-container {
  max-width: 500px;
  width: 100%;
  margin: 0 auto;
  padding: 0 1rem;
}
.section-form .section-container .form {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
}
.section-form .section-container .form .checkbox-container label {
  display: flex;
  align-items: center;
}
.section-form .section-container .form .checkbox-container label input {
  width: 20px;
  height: 15px;
  margin-right: 0.2rem;
}
.section-form .section-container .form label {
  display: block;
  margin-bottom: 0.5rem;
}
.section-form .section-container .form input {
  width: 100%;
  padding: 0.8rem;
  border: 1px solid #ccc;
  border-radius: 4px;
  outline: none;
}
.section-form .section-container .form button {
  width: 100%;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 1rem;
  font-weight: 600;
  color: #ecf0f1;
  background-color: #3498db;
  margin-top: 1rem;
  cursor: pointer;
}
.section-form .section-container .form button:hover {
  background-color: #2980b9;
}/*# sourceMappingURL=global.css.map */