@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;600;900&display=swap');

@import "global.vars";

/** COMMON STYLES **/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Inter', sans-serif;
  color: $primary;
  background-color: $background-color;
}

button {
  cursor: pointer;
}

a {
  text-decoration: none;
  color: $primary;
  cursor: pointer;
}

.header {
  background-color: $header-bg-color;
  color: $secondary;
  text-align: center;
  position: fixed;
  width: 100%;
  z-index: 1;
  .menu-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    height: 60px;
    max-width: 1100px;
    margin: 0 auto;
    button {
      width: 150px;
      padding: 10px;
      border: 0;
      border-radius: 4px;
      font-size: 1rem;
      font-weight: 600;
      color: $secondary;
      background-color: $button;
      &:hover {
        background-color: $button-hover;
      }
    }
    .logo-space {
      display: flex;
      align-items: center;
      a {
        font-size: 1.5rem;
        font-weight: 600;
        color: $secondary;
      }
      .logo-text {
        margin-left: 0.5rem;
        color: $secondary;
      }
    }
  }
}

.container {
  padding-top: 5rem;
}

.error {
  color: red;
  margin-bottom: 0.5rem;
}

.delete-btn {
  background-color: $delete-btn !important;
}

.cancel-link {
  text-align: center;
  text-decoration: underline;
  margin-top: 1rem;
  &:hover {
    text-decoration: none;
  }
}

/** CONTACTS LIST **/

.contacts-container {
  padding: 5rem 1rem;
  margin: 0 1rem;
  background-color: $background-color;
  max-width: 500px;
  margin: 0 auto;
  h1 {
    font-size: 2rem;
    font-weight: 600;
    margin-bottom: 1rem;
  }
  .welcome-user {
    font-weight: 600;
  }

  .search-bar {
    margin-top: 10px;
    input {
      padding: 10px;
      outline: none;
      border-radius: 4px;
      border: 1px solid gray;
      width: 100%;
    }
  }
  .contacts {
    background-color: $contact-list-bg;
    border-radius: 5px;
    color: $primary;
    margin-top: 1rem;
    padding: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    .single-contact {
      padding: 17px 0 10px;
      display: flex;
      justify-content: space-between;
      .contact-contacts {
        display: flex;
        justify-content: space-between;
        width: 140px;
      }
    }
    .divider {
      color: $divider;
      border-color: $divider;
      background-color: $divider;
    }
  }
}

/** FORM STYLES **/

.form-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 500px;
  width: 100%;
  padding: 0.3rem;
}

.section-form {
  padding: 1.7rem;
  box-sizing: border-box;
  border-radius: 10px;
  background: $secondary;
  color: $primary;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  h1 {
    font-size: 1.7rem;
    text-align: center;
    margin-bottom: 1rem;
  }

  .section-container {
    max-width: 500px;
    width: 100%;
    margin: 0 auto;
    padding: 0 1rem;
    .form {
      display: flex;
      flex-direction: column;
      margin-bottom: 1rem;
      .checkbox-container {
        label {
          display: flex;
          align-items: center;
          input {
            width: 20px;
            height: 15px;
            margin-right: 0.2rem;
          }
        }
      }
      label {
        display: block;
        margin-bottom: 0.5rem;
      }
      input {
        width: 100%;
        padding: 0.8rem;
        border: 1px solid #ccc;
        border-radius: 4px;
        outline: none;
      }
      button {
        width: 100%;
        padding: 20px;
        border: 1px solid #ccc;
        border-radius: 4px;
        font-size: 1rem;
        font-weight: 600;
        color: $secondary;
        background-color: $button;
        margin-top: 1rem;
        cursor: pointer;
        &:hover {
          background-color: $button-hover;
        }
      }
    }
  }
}

/** FOOTER **/

.footer {
  text-align: center;
  margin-bottom: 2rem;
  button {
    width: 140px;
    padding: 10px;
    border: 0;
    border-radius: 4px;
    font-size: 1rem;
    font-weight: 600;
    color: $secondary;
    background-color: $button;
    &:hover {
      background-color: $button-hover;
    }
  }
}
